#page-container {
  	position: relative;
  	min-height: 100vh;
}

#content-wrap {
  	padding-bottom: 2.5rem;    
}

#sticky-footer {
	position: absolute;
  	bottom: 0;
  	width: 100%;
  	height: 4rem;      
    background-color: #757f95 !important      
}

#product_pic{
  max-width: 75px;
  max-height: 75px;
}

.product-pic {
	max-width: 400px;
	max-height:400px;
}

.profile-pic{
	max-width: 200px;
	max-height:200px;
	margin: 0 auto;
	border-radius: 50%;
}

    html,
    body,
    header,
    .carousel {
      height: 60vh;
    }

    @media (max-width: 740px) {
      html,
      body,
      header,
      .carousel {
        height: 100vh;
      }
    }

    @media (min-width: 800px) and (max-width: 850px) {
      html,
      body,
      header,
      .carousel {
        height: 100vh;
      }
    }
.view,body,html{height:100%}.carousel{height:50%}.carousel .carousel-inner,.carousel .carousel-inner .active,.carousel .carousel-inner .carousel-item{height:100%}@media (max-width:776px){.carousel{height:100%}}.page-footer{background-color:#929FBA}

.bg-color{
  background-color: #929fba
}